<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon> <!-- Ícone de logout -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="custom-content centered-content">
  <ion-list class="custom-list custom-content">

    <ion-item [routerLink]="['/update-account']">
      <ion-icon name="create" class="edit-button"></ion-icon>
    </ion-item>
    
    <!-- Exibição das informações do usuário -->
    <ion-item class="input-item">
      <ion-label position="stacked">Nome</ion-label>
      <div>{{ name }}</div>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="stacked">Email</ion-label>
      <div>{{ email }}</div>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <div>{{ birthDate }}</div>
    </ion-item>    

    <ion-item class="input-item">
      <ion-label position="stacked">Celular</ion-label>
      <div>{{ cellphone }}</div>
    </ion-item>
    
  </ion-list>
</ion-content>
