<ion-content fullscreen class="custom-content centered-content">
  <ion-list class="custom-list gray-container">
    <div class="logo-container">
      <img src="/assets/img/invite-me.png" alt="Logo" class="logo" />
    </div>

    <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
      <!-- Name -->
      <ion-item class="input-item">
        <ion-label position="floating" class="label-item">Nome</ion-label>
        <ion-input formControlName="name" required></ion-input>
      </ion-item>
      <ion-note *ngIf="createAccountForm.get('name')?.invalid && createAccountForm.get('name')?.touched">
        Name must be at least 2 characters long.
      </ion-note>

      <!-- Email -->
      <ion-item class="input-item">
        <ion-label position="floating" class="label-item">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-note *ngIf="createAccountForm.get('email')?.invalid && createAccountForm.get('email')?.touched">
        Invalid email format.
      </ion-note>

      <!-- Birthdate -->
      <ion-item class="input-item">
        <ion-label position="floating" class="label-item">Data de Nascimento</ion-label>
        <ion-input type="date" formControlName="birthdate" required></ion-input>
      </ion-item>

      <!-- Phone Number -->
      <ion-item>
        <ion-label position="floating" class="label-item">Celular</ion-label>
        <ion-input type="tel" formControlName="cellphone" required pattern="^[0-9]{10,15}$"></ion-input>
      </ion-item>
      <ion-note *ngIf="createAccountForm.get('cellphone')?.invalid && createAccountForm.get('cellphone')?.touched">
        Phone number must be numeric and 10-15 digits long.
      </ion-note>

      <!-- Password -->
      <ion-item>
        <ion-label position="floating" class="label-item">Senha</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>
      <ion-note *ngIf="createAccountForm.get('password')?.invalid && createAccountForm.get('password')?.touched">
        Password must be at least 6 characters long.
      </ion-note>

      <!-- Submit Button -->
      <ion-button expand="block" type="submit" [disabled]="createAccountForm.invalid" class="custom-login-button">Criar Conta</ion-button>
    </form>

    <div class="link-container">
      <ion-label>
        <a routerLink="/login" class="custom-link">Já tem uma conta? Faça login</a>
      </ion-label>
    </div>
  </ion-list>

    <!-- Mensagem de Sucesso -->
    <div *ngIf="showSuccessMessage" class="success-message">
      Cadastro realizado com sucesso!
    </div>

</ion-content>
