<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon> <!-- Ícone de logout -->
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="custom-content centered-content">
  <form [formGroup]="updateAccountForm" (ngSubmit)="onSubmit()">
    <!-- Avatar -->
    <ion-item lines="none" style="justify-content: center;">
      <ion-avatar class="profile-avatar">
        <img *ngIf="profilePicture" [src]="profilePicture" alt="Foto de Perfil" class="profile-image" (click)="presentActionSheet()"/>
        <ion-icon *ngIf="!profilePicture" name="person" class="profile-icon" (click)="presentActionSheet()"></ion-icon>
      </ion-avatar>
    </ion-item>
  
    <!-- Modal para visualização de imagem ampliada -->
    <ion-modal [isOpen]="isZoomedImageModalOpen" (didDismiss)="closeZoomedImage()" class="zoomed-image-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Imagem</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeZoomedImage()">Fechar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <img [src]="profilePicture" alt="Imagem Ampliada" class="zoomed-image" />
        </ion-content>
      </ng-template>
    </ion-modal>
  
    <!-- Input oculto para alteração de imagem -->
    <input type="file" id="fileInput" style="display: none;" (change)="handleImageChange($event)" />
  
    <!-- Name -->
    <ion-item class="input-item">
      <ion-input 
        label="Nome" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Enter your name" 
        formControlName="name" 
        required>
      </ion-input>
    </ion-item>
    <ion-note *ngIf="updateAccountForm.get('name')?.invalid && updateAccountForm.get('name')?.touched">
      Name must be at least 2 characters long.
    </ion-note>
  
    <!-- Email -->
    <ion-item class="input-item">
      <ion-input 
        label="Email" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Enter your email" 
        type="email" 
        formControlName="email" 
        required>
      </ion-input>
    </ion-item>
    <ion-note *ngIf="updateAccountForm.get('email')?.invalid && updateAccountForm.get('email')?.touched">
      Invalid email format.
    </ion-note>
  
    <!-- Birthdate -->
    <ion-item class="input-item">
      <ion-input 
        label="Data de Nascimento" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Enter your birthdate" 
        type="date" 
        formControlName="birthdate" 
        required>
      </ion-input>
    </ion-item>
  
    <!-- Phone Number -->
    <ion-item class="input-item">
      <ion-input 
        label="Celular" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Enter your phone number" 
        type="tel" 
        formControlName="cellphone" 
        required 
        pattern="^[0-9]{10,15}$">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="updateAccountForm.get('cellphone')?.invalid && updateAccountForm.get('cellphone')?.touched">
      Phone number must be numeric and 10-15 digits long.
    </ion-note>
  
    <!-- Password -->
    <ion-item class="input-item">
      <ion-input 
        label="Senha" 
        label-placement="floating" 
        fill="outline" 
        placeholder="Digite sua Senha" 
        [type]="showPassword ? 'text' : 'password'" 
        formControlName="password" 
        required>
      </ion-input>
      <ion-icon 
        [name]="showPassword ? 'eye' : 'eye-off'"  
        (click)="showPassword = !showPassword" 
        slot="end" 
        class="password-icon"></ion-icon>
    </ion-item>
    
    <ion-note *ngIf="updateAccountForm.get('password')?.invalid && updateAccountForm.get('password')?.touched">
      Password must be at least 6 characters long.
    </ion-note>
  
    <!-- Submit Button -->
    <ion-button expand="block" type="submit" [disabled]="updateAccountForm.invalid" class="custom-login-button">Atualizar Conta</ion-button>
  </form>
  
</ion-content>
